@model EntityModel.EF.Content

@{
    ViewBag.Title = "Xem chi tiết nội dung" + @Model.Name;
    Layout = null;// "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="modal fade" id="detailModal" style="display: block !important;">
    <div class="modal-dialog modal-lg" style="overflow-y: initial !important;overflow-y: scroll; max-height:85%;  margin-top: 50px; margin-bottom:50px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">Xem chi tiết nội dung @Model.Name</h4>
            </div>
            <div class="modal-body" style="height: 400px;overflow-y: auto;">
                <div class="col-md-7">
                    <dl class="dl-horizontal">
                        <dt>
                            Tiêu đề:
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Name)
                        </dd>

                        <dt>
                            Đường dẫn:
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.MetaTitle)
                        </dd>
                        <dt>
                            Thể loại:
                        </dt>

                        <dd>
                            @{
                                string a = "Tin tức";
                                if (Model.Category)
                                {
                                    a = "Dịch vụ";
                                }
                            }@a
                        </dd>
                        <dt>
                            Mô tả:
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Description)
                        </dd>

                        <dt>
                            Nội dung:
                        </dt>

                        <dd>
                           @Html.Raw(Model.Detail)
                        </dd>

                        <dt>
                            Lượt xem:
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ViewCount)
                        </dd>


                        <dt>
                            Ngày tạo:
                        </dt>

                        <dd>
                            @string.Format("{0:dd-MM-yyyy}", Model.CreateDate) - Tạo bởi: @Html.DisplayFor(model => model.UserName)
                        </dd>

                    </dl>
                </div>
                <div class="col-md-5">
                    <img alt="" src="@Model.Images" width="200" height="245" class="img-responsive" />
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="modal-footer">
                <div class="form-actions no-color text-center">
                    <a href="@Url.Action("Edit", new { @id = Model.ID })" title="Sửa nội dung @Model.Name" class="edit-link"><button class="btn btn-warning">Chỉnh sửa</button></a>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Content/AdminTheme/js/edit-modal.js"></script>

