@model EntityModel.EF.Account

@{
	ViewBag.Title = "Thay đổi mật khẩu " + @Model.UserName;
	Layout = null;//"~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="modal fade" id="changeModal">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			@using (Html.BeginForm("ChangPassword", "Accounts", FormMethod.Post))
			{
				<div class="modal-body" style="max-height: 500px;overflow-y: auto;">
				    <button type="button" class="close" data-dismiss="modal">
				        <span aria-hidden="true">&times;</span>
				        <span class="sr-only">Close</span>
				    </button>
                    <h3 style="text-align: center">Thay đổi mật khẩu @Model.UserName</h3>
                    <img src="~/Content/ClientTheme/image/1.png" class="img-responsive" />
                    @Html.AntiForgeryToken()
					@Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
					<div class="form-horizontal">
						@Html.HiddenFor(model => model.ID)
						<div class="form-group">
							<label class="control-label col-md-3">Mật khẩu cũ:</label>
							<div class="col-md-9">
								<input type="password" name="oldPass" class="form-control" placeholder="Nhập mật khẩu cũ..." />
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-3 ">Mật khẩu mới:</label>
							<div class="col-md-9">
								<input type="password" name="newPass1" class="form-control" min="6" maxlength="50" placeholder="Nhập mật khẩu mới. Không quá 250 ký tự." />
							</div>
						</div>
					    <div class="form-group">
					        <label class="control-label col-md-3">Nhập lại mật khẩu:</label>
					        <div class="col-md-9">
								<input type="password" name="newPass2" class="form-control" min="6" maxlength="50" placeholder="Nhập lại mật khẩu mới. Không quá 250 ký tự." />
					        </div>
					    </div>
                        <div class="form-group">
                            <hr />
                            <div class="form-actions no-color text-center">
								<button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Thay đổi</button>
								<button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> Đóng</button>
                            </div>
                        </div>
					</div>
				</div>
			}
		</div>
	</div>
</div>
