@model EntityModel.EF.Account

@{
	ViewBag.Title = "Thay đổi mật khẩu " + @Model.UserName;
	Layout = null;//"~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="modal fade" id="changeModal"style="display: block !important;">
	<div class="modal-dialog modal-lg" style="overflow-y: initial !important;overflow-y: scroll; max-height:85%;  margin-top: 50px; margin-bottom:50px;">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span>
					<span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title">Thay đổi @Model.UserName</h4>
			</div>
			@using (Html.BeginForm("ChangPassword", "Accounts", FormMethod.Post))
			{
				<div class="modal-body" style="height: 400px;overflow-y: auto;">
					@Html.AntiForgeryToken()
					@Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
					<div class="form-horizontal">
						@Html.HiddenFor(model => model.ID)
						<div class="form-group">
							<label class="control-label col-md-3">Mật khẩu cũ:</label>
							<div class="col-md-9">
								<input type="password" name="oldPass" class="form-control" placeholder="Nhập mật khẩu củ..." />

							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-3 ">Mật khẩu mới:</label>
							<div class="col-md-9">
								<input type="password" name="newPass1" class="form-control" min="6" maxlength="50" placeholder="Nhập mật khẩu mới..." />
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-3">Nhập lại mật khẩu:</label>
							<div class="col-md-9">
								<input type="password" name="newPass2" class="form-control" min="6" maxlength="50" placeholder="Nhập lại mật khẩu mới..." />
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<div class="form-actions no-color text-center">
						<input type="submit" value="Thay đổi" class="btn btn-success" />
						<button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
					</div>
				</div>
			}

		</div>
	</div>
</div>
