@model EntityModel.EF.Account

@{
    ViewBag.Title = "Xem chi tiết tài khoản " + @Model.UserName;
    Layout = null;// "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="modal fade" id="detailModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body" style="max-height: 550px; overflow-y: auto;">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h3 style="text-align: center">Xem chi tiết @Model.UserName </h3>
                <img src="~/Content/ClientTheme/image/1.png" class="img-responsive" />
                <div class="col-md-7">
                    <dl class="dl-horizontal">
                        <dt>
                            Tài khoản:
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.UserName)
                        </dd>
                        <dt>
                            Nhóm:
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.AccountGroup.Name)
                        </dd>
                        <dt>
                            Tên:
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.FirstName)
                        </dd>
                        <dt>
                            Họ:
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.LastName)
                        </dd>
                        <dt>
                            Ngày sinh:
                        </dt>
                        <dd>
                            @string.Format("{0:dd-MM-yyyy}", Model.Birthday)
                        </dd>
                        <dt>
                            Email:
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Email)
                        </dd>
                        <dt>
                            Số điện thoại:
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Phone)
                        </dd>
                        <dt>
                            Địa chỉ:
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Address)
                        </dd>
                        <dt>
                            Ngày tạo:
                        </dt>
                        <dd>
                            @string.Format("{0:dd-MM-yyyy}", Model.CreateDate)
                        </dd>
                    </dl>
                </div>
	            <div class="col-md-5">
		            <img alt="" src="@Model.Avatar" width="200" height="245" class="img-responsive"/>
	            </div>

	            <div class="col-md-12" style="margin-bottom: 10px">
		            <hr/>
		            <div class="form-actions no-color text-center">
						<a href="@Url.Action("Edit", new {@id = Model.ID})" title="Sửa tài khoản @Model.UserName" class="edit-link btn btn-warning"><i class="fa fa-edit"></i> Chỉnh sửa</a>
						<button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> Đóng</button>
		            </div>
					<div class="clearfix"></div>
	            </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Content/AdminTheme/js/edit-modal.js"></script>