@model EntityModel.EF.Instruction

@{
	ViewBag.Title = "Tạo mới giới thiệu";
	Layout = null;// "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="modal fade" id="createModal">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			@using (Html.BeginForm())
			{
				<div class="modal-body" style="max-height: 550px;overflow-y: auto;">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span>
						<span class="sr-only">Close</span>
					</button>
					<h3 style="text-align: center">Bảng tạo mới giới thiệu</h3>
					<img src="~/Content/ClientTheme/image/1.png" class="img-responsive" />
					@Html.AntiForgeryToken()
					<div class="form-horizontal">
						@Html.ValidationSummary(true, "", new { @class = "text-danger" })
						<div class="col-md-12">
							<div class="form-group">
								<label class="control-label col-md-2">Tiêu đề:</label>
								<div class="col-md-10">
									@Html.TextBoxFor(model => model.Name, new { @class = "form-control", placeholder = "Nhập tiêu đề ở đây. Không quá 250 ký tự.", max="250" })
									@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
								</div>
							</div>
						</div>

						<div class="col-md-12">
							<div class="form-group">
								<label class="control-label col-md-2">Nội dung:</label>
								<div class="col-md-10">
									@Html.TextAreaFor(model => model.Detail, new {@class = "form-control"})
									@Html.ValidationMessageFor(model => model.Detail, "", new {@class = "text-danger"})
								</div>
								<script type="text/javascript">
									CKEDITOR.replace("Detail");
								</script><br/>
							</div>

							<div class="form-group">
								<label class="control-label col-md-2">Hình:</label>
								<div class="col-md-7">
									@Html.TextBoxFor(model => model.Images, new { @class = "form-control", placeholder = "Đường dẫn hình" })
									@Html.ValidationMessageFor(model => model.Images, "", new {@class = "text-danger"})
								</div>
								<div class="col-md-3">
									<button type="button" id="Browse" class="btn btn-primary"><i class="fa fa-picture-o"></i> Thêm ảnh</button>
									<script>
										$('#Browse').click(function() {
											var finder = new CKFinder();
											finder.selectActionFunction = function(fileUrl) {
												//fileUrl = fileUrl.substring(fileUrl.lastIndexOf("/") + 1);
												$('#Images').val(fileUrl);
												$('#img').attr('src', fileUrl);
											};
											finder.popup();
										});
									</script>
								</div>
								<div class="col-md-2"></div>
								<div class="col-md-10" style="margin-top: 10px;">
									<img alt="" id="img" src="" width="200" height="245" class="img-responsive"/>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
						<div class="col-md-12">
							<hr/>
							<div class="form-group">
								<div class="form-actions no-color text-center">
									<button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Tạo mới</button>
									<button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> Đóng</button>
								</div>
							</div>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
			}
		</div>
	</div>
</div>
