@model EntityModel.EF.Instruction

@{
	ViewBag.Title = "Xem chi tiết giới thiệu " + @Model.Name;
	Layout = null;// "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="modal fade" id="detailModal" style="display: block !important;">
	<div class="modal-dialog modal-lg" style="overflow-y: initial !important; max-height: 85%; margin-top: 50px; margin-bottom: 50px;">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span>
					<span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title">Xem chi tiết giới thiệu @Model.Name</h4>
			</div>
			<div class="modal-body" style="height: 400px; overflow-y: auto">
				<dl class="dl-horizontal">
					<dt>
						Tiêu đề:
					</dt>

					<dd>
						@Html.DisplayFor(model => model.Name)
					</dd>

					<dt>
						Nội dung:
					</dt>

					<dd>
						@Html.DisplayFor(model => model.Detail)
					</dd>

					<dt>
						Ngày tạo:
					</dt>

					<dd>
						@Html.DisplayFor(model => model.CreateDate) - Tạo bởi: @Html.DisplayFor(model => model.Account.UserName)
					</dd>

				</dl>
				<div class="clearfix"></div>
			</div>
			<div class="modal-footer">
				<div class="form-actions no-color text-center">
					<a href="@Url.Action("Edit", new { @id = Model.ID })" title="Sửa giới thiệu @Model.Name" class="edit-link"><button class="btn btn-warning">Chỉnh sửa</button></a>
					<button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="~/Content/AdminTheme/js/edit-modal.js"></script>