@model ModelEF.Model.Account

@{
	ViewBag.Title = "Tạo tài khoản mới";
	Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">Tạo tài khoản mới</h1>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				Bảng tạo mới tài khoản
			</div>

			@using (Html.BeginForm())
			{
				<div class="panel-body">
					<div class="row">
						<div class="col-lg-12">
							@Html.AntiForgeryToken()

							<div class="form-horizontal">
								@Html.ValidationSummary(true, "", new { @class = "text-danger" })
								<div class="form-group">
									<label class="control-label col-md-2">Tài khoản: </label>
									<div class="col-md-10">
										@Html.TextBoxFor(model => model.UserName, new { @class = "form-control", placeholder = "Nhập tài khoản muốn tạo" })
										@Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
									</div>
								</div>

								<div class="form-group">
									<label class="control-label col-md-2">Mật khẩu: </label>
									<div class="col-md-10">
										@Html.TextBoxFor(model => model.Password, new { @class = "form-control", placeholder = "Nhập mật khẩu" })
										@Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
									</div>
								</div>

								<div class="form-group">
									<label class="control-label col-md-2">Tên: </label>
									<div class="col-md-10">
										@Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", placeholder = "Nhập tên" })
										@Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
									</div>
								</div>

								<div class="form-group">
									<label class="control-label col-md-2">Họ: </label>
									<div class="col-md-10">
										@Html.TextBoxFor(model => model.LastName, new { @class = "form-control", placeholder = "Nhập họ" })
										@Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
									</div>
								</div>

								<div class="form-group">
									<label class="control-label col-md-2">Ngày sinh: </label>
									<div class="col-md-10">
										@Html.TextBoxFor(model => model.Birthday, new { @class = "form-control", placeholder = "Nhập ngày sinh" })
										@Html.ValidationMessageFor(model => model.Birthday, "", new { @class = "text-danger" })
									</div>
								</div>

								<div class="form-group">
									<label class="control-label col-md-2">Email: </label>
									<div class="col-md-10">
										@Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = "Nhập email" })
										@Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
									</div>
								</div>

								<div class="form-group">
									<label class="control-label col-md-2">Số điện thoại: </label>
									<div class="col-md-10">
										@Html.TextBoxFor(model => model.Phone, new { @class = "form-control", placeholder = "Nhập số điện thoại" })
										@Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
									</div>
								</div>


								<div class="form-group">
									<label class="control-label col-md-2">Tỉnh: </label>
									<div class="col-md-10">
										@Html.TextBoxFor(model => model.ProvinceID, new { @class = "form-control"})
										@Html.ValidationMessageFor(model => model.ProvinceID, "", new { @class = "text-danger" })
									</div>
								</div>

								<div class="form-group">
									<label class="control-label col-md-2">Huyện: </label>
									<div class="col-md-10">
										@Html.TextBoxFor(model => model.DistrictID, new { @class = "form-control" })
										@Html.ValidationMessageFor(model => model.DistrictID, "", new { @class = "text-danger" })
									</div>
								</div>

								
							</div>
						</div>

					</div>
					<!-- /.row (nested) -->
				</div>
			<!-- /.panel-body -->
				<div class="panel-footer">
					<div class="form-group">
						<div class="col-md-offset-2 col-md-10">
							<input type="submit" value="Tạo mới" class="btn btn-default"/>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
			}

		</div>
		<!-- /.panel -->
	</div>
	<!-- /.col-lg-12 -->
</div>



