@model ModelEF.Model.Account

@{
    ViewBag.Title = "Xóa tài khoản";
	Layout = null;// "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<div class="modal fade" id="deleteModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span>
					<span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title">Xóa tài khoản: @Html.DisplayFor(model => model.UserName) </h4>
			</div>
			<div class="modal-body">
				<h5 class="panel-heading"><strong>Bạn có chắc muốn xóa tài khoản này?</strong></h5>
				<table class="table table-bordered table-striped">
					<tr>
						<th>Tài khoản:</th>
						<td>@Html.DisplayFor(model => model.UserName)</td>
					</tr>
					<tr>
						<th>Họ tên:</th>
						<td>@Html.DisplayFor(model => model.LastName) @Html.DisplayFor(model => model.FirstName)</td>
					</tr>
					<tr>
						<th>Avatar:</th>
						<td>@Html.DisplayFor(model => model.Avatar)</td>
					</tr>
				</table>
			</div>
			<div class="modal-footer">
				@using (Html.BeginForm("Delete", "Users", FormMethod.Post))
				{
					@Html.AntiForgeryToken()
					<div class="form-actions no-color text-center">
						<input type="submit" value="Xóa" class="btn btn-danger" />
						<button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
					</div>
				}
			</div>
		</div>
	</div>
</div>

