@model ModelEF.Model.Account

@{
    ViewBag.Title = "Xem chi tiết tài khoản";
    Layout = null;
}

<div class="modal fade" id="detailModal">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span>
					<span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title">Thông tin chi tiết tài khoản: @Html.DisplayFor(model => model.UserName) </h4>
			</div>
			<div class="modal-body">
				<dl class="col-md-7 dl-horizontal ">
					<dt>
						Tài khoản:
					</dt>

					<dd>
						@Html.DisplayFor(model => model.UserName)
					</dd>

					<dt>
						Họ tên:
					</dt>

					<dd>
						@Html.DisplayFor(model => model.LastName) @Html.DisplayFor(model => model.FirstName) 
					</dd>

					<dt>
						Ngày sinh:
					</dt>
					<dd>
						@string.Format("{0:dd/MM/yyyy}", Model.Birthday)
					</dd>
					
					<dt>
						Email:
					</dt>

					<dd>
						@Html.DisplayFor(model => model.Email)
					</dd>

					<dt>
						Số điện thoại:
					</dt>

					<dd>
						@Html.DisplayFor(model => model.Phone)
					</dd>

					<dt>
						Ngày tạo:
					</dt>

					<dd>
						@string.Format("{0:dd/MM/yyyy}", Model.CreateDate)
					</dd>

		
					<dt>
						Tỉnh:
					</dt>

					<dd>
						@ViewBag.Tinh
					</dd>

					<dt>
						Huyện:
					</dt>

					<dd>
						@ViewBag.Huyen
					</dd>
				</dl>
				<div class="col-md-5" style="border:1px solid;">
					<img src="@Model.Avatar" alt="@Model.UserName" class="col-lg-12 img-responsive" />
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="modal-footer">
				<div class="form-actions no-color text-center">
					<a class="btn btn-danger" title="Chỉnh sửa tài khoản @Model.UserName" href="/Admin/Users/Edit/@Model.ID">Chỉnh sửa</a>
					<button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
				</div>
			</div>
		</div>
	</div>
</div>

