@model IEnumerable<ModelEF.Model.Ticker>

@{
    ViewBag.Title = "Quản lý bảng giá";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Quản lý bảng giá</h1>
    </div>
    <div class="col-lg-12">
        <div class="input-group custom-search-form">
            <input type="text" class="form-control" placeholder="Tìm kiếm...">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                    <i class="fa fa-search"></i>
                </button>
            </span>
        </div>
        <p>
            @Html.ActionLink("Tạo mới bảng giá", "Create")
        </p>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Bảng danh sách giá
                <div class="clearfix"></div>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.ID)</th>
                                
                                <th>
                                    Tên
                                </th>
                                <th>
                                    Giá
                                </th>
                                <th>
                                    Trạng thái
                                </th>
                                <th>Tùy chọn</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr class="success">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ID)
                                    </td>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Name)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Price)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Status)
                                    </th>
                                    <td>
                                        @Html.ActionLink("Sửa", "Edit", new { id = item.ID }) |
                                        @Html.ActionLink("Xem", "Details", new { id = item.ID }) |
                                        @Html.ActionLink("Xóa", "Delete", new { id = item.ID })
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
</div>
