@model EntityModel.EF.Slider

@{
    ViewBag.Title = "Tạo mới trình ảnh";
    Layout = null;// "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="modal fade" id="createModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            @using (Html.BeginForm())
            {
                <div class="modal-body" style="max-height: 550px;overflow-y: auto;">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span>
						<span class="sr-only">Close</span>
					</button>
					<h3 style="text-align: center">Bảng tạo hình mới</h3>
					<img src="~/Content/ClientTheme/image/1.png" class="img-responsive" />
					@Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                        <div class="col-md-12">
                            <div class="col-md-7">
                                <div class="form-group">
                                    <label class="control-label col-md-3">Tên:</label>
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control", placeholder = "Nhập tên ở đây. Không quá 500 ký tự.", max="500" })
                                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3">Thứ tự:</label>
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(model => model.DisplayOrder, new { @class = "form-control", placeholder = "Nhập thứ tự ở đây", Type="number" })
                                        @Html.ValidationMessageFor(model => model.DisplayOrder, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3">Nội dung:</label>
                                    <div class="col-md-9">
                                        @Html.DropDownList("ContentID",null, new { @class = "form-control"})
                                        @Html.ValidationMessageFor(model => model.ContentID, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3">Mô tả:</label>
                                    <div class="col-md-9">
                                        @Html.TextAreaFor(model => model.Description, new { @class = "form-control", placeholder = "Nhập mô tả ở đây. Không quá 500 ký tự.", max="500" })
                                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

							<div class="col-md-4">
								<div class="form-group">
									<div class="col-md-9">
										@Html.TextBoxFor(model => model.Link, new { @class = "form-control", placeholder = "Đường dẫn hình" })
										@Html.ValidationMessageFor(model => model.Link, "", new { @class = "text-danger" })
									</div>
									<div class="col-md-3">
										<button type="button" id="Browse" class="btn btn-primary"><i class="fa fa-picture-o"></i> Thêm ảnh</button>
										<script>
											$('#Browse').click(function () {
												var finder = new CKFinder();
												finder.selectActionFunction = function (fileUrl) {
													//fileUrl = fileUrl.substring(fileUrl.lastIndexOf("/") + 1);
													$('#Link').val(fileUrl);
													$('#img').attr('src', fileUrl);
												};
												finder.popup();
											});
										</script>
									</div>
									<div class="col-md-12" style="margin-top: 10px;">
										<img alt="" id="img" src="" width="200" height="245" class="img-responsive" />
									</div>
									<div class="clearfix"></div>
								</div>
							</div>
	                        <div class="col-md-12">
		                        <hr/>
		                        <div class="form-group">
			                        <div class="form-actions no-color text-center">
										<button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Tạo mới</button>
										<button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> Đóng</button>
			                        </div>
		                        </div>
	                        </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            }
        </div>
    </div>
</div>


