@model EntityModel.EF.Slider

@{
    ViewBag.Title = "Sửa trình ảnh" + @Model.Name;
    Layout = null;// "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="modal fade" id="editModal" style="display: block !important;">
    <div class="modal-dialog modal-lg" style="display: block !important;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">Chỉnh sửa trình ảnh @Model.Name </h4>
            </div>
            @using (Html.BeginForm())
            {
                <div class="modal-body" style="height: 400px;overflow-y: auto;">
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.ID)
                    @Html.HiddenFor(model => model.CreateDate)
                    @Html.HiddenFor(model => model.ContentID)
                    @Html.HiddenFor(model => model.Status)
                    @Html.HiddenFor(model => model.UserName)
                    @Html.HiddenFor(model => model.Description)
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="col-md-12">
                            <div class="col-md-7">
                                <div class="form-group">
                                    <label class="control-label col-md-3">Tiêu đề:</label>
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control", placeholder = "Nhập tiêu đề ở đây" })
                                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3">Thứ tự:</label>
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(model => model.DisplayOrder, new { @class = "form-control", placeholder = "Nhập tên đường dẫn ở đây" })
                                        @Html.ValidationMessageFor(model => model.DisplayOrder, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3">Nội dung:</label>
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(model => model.Content.Name, new { @class = "form-control", placeholder = "Nhập tên đường dẫn ở đây" })
                                        @Html.ValidationMessageFor(model => model.Content.Name, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Mô tả:</label>
                                    <div class="col-md-9">
                                        @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                             

                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label col-md-2">Hình:</label>
                                    <div class="col-md-12" style="margin-bottom: 10px;">
                                        <img alt="" id="img" src="" width="200" height="245" class="img-responsive" />
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(model => model.Link, new { @class = "form-control disabled", placeholder = "Đường dẫn hình" })
                                        @Html.ValidationMessageFor(model => model.Link, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-4">
                                        <input type="button" id="Browse" value="Chọn ảnh" class="btn btn-success" />
                                        <script>
                                            $('#Browse').click(function () {
                                                var finder = new CKFinder();
                                                finder.selectActionFunction = function (fileUrl) {
                                                    //fileUrl = fileUrl.substring(fileUrl.lastIndexOf("/") + 1);
                                                    $('#Images').val(fileUrl);
                                                    $('#img').attr('src', fileUrl);
                                                };
                                                finder.popup();
                                            });
                                        </script>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="modal-footer">
                    <div class="form-actions no-color text-center">
                        <input type="submit" value="Thay đổi" class="btn btn-success" />
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

