@model List<EntityModel.EF.Content>
@{
	ViewBag.Title = "Tin tức về khu du lịch";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-12 baiviet">
	<p>
		<i class="glyphicon glyphicon-home"></i> <a href="/">Giới thiệu</a>/ <a href="/tin-tuc">Tin tức</a>
	</p>
</div>
<div class="col-md-12">
	<div class="container lg">
		<h1>Tin tức về khu du lịch</h1>
	</div>
	<div class="container gach"></div>
	<div class="clearfix"></div>
</div>
<div class="col-md-12 dichvu">

	@if (Model != null || Model.Count > 0)
	{
		foreach (var item in Model)
		{
			<div class="col-md-4  col-xs-12 col-sm-6  idichvu">
				<div class="itdichvu">
					<a href="/tin-tuc/chi-tiet/@item.MetaTitle-@item.ID">
						<img src="@item.Images" class="img-responsive">
					</a>
					<a href="/tin-tuc/chi-tiet/@item.MetaTitle-@item.ID" class="thea">
						<h4>@item.Name</h4>
					</a>
					<h5>@item.Description</h5>
					<div class="icondichvu">
						<i class="glyphicon glyphicon-comment"></i>
						<h6 style="">@item.ViewCount</h6>
					</div>
					<div class="icondichvu">
						<i class="glyphicon glyphicon-user"></i>
						<h6>@item.UserName</h6>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>

		}
		<div class="clearfix"></div>
		<div class="col-md-3 col-md-offset-2"></div>
		<!--Phân trang-->
		if (ViewBag.TotalPage > 1)
		{
			var pageDisplay = (int)ViewBag.MaxPage;
			int totalPage = (int)ViewBag.TotalPage;
			int currentPage = ((int)ViewBag.Page);

			// Create numeric links
			var startPageIndex = Math.Max(1, currentPage - pageDisplay / 2);
			var endPageIndex = Math.Min(totalPage, currentPage + pageDisplay / 2);

			var link = "/tin-tuc/";
			<nav>
				<ul class="pagination">
					@if (currentPage > ViewBag.First)
					{
						<li><a href="@link?page=@ViewBag.First" title="Trang đầu" class="first"><i class="fa fa-angle-double-left"></i></a></li>
						<li>
							<a href="@link?page=@ViewBag.Prev" title="Trang trước" class="prev"><i class="fa fa-angle-left"></i></a>
						</li>

					}
					@for (int i = startPageIndex; i <= endPageIndex; i++)
					{
						if (currentPage == i)
						{
							<li> <a href="@link?page=@i" class="active" title="Trang @i">@i</a></li>
						}
						else
						{
							<li><a href="@link?page=@i" title="Trang @i" class="pos">@i</a></li>
						}
					}
					@if (currentPage < totalPage)
					{
						<li><a href="@link?page=@ViewBag.Next" class="next" title="Trang sau"><i class="fa fa-angle-right"></i></a></li>
						<li> <a href="@link?page=@ViewBag.Last" class="last" title="Trang cuối"><i class="fa fa-angle-double-right"></i></a></li>
					}

				</ul>
			</nav>
		}
		else
		{
			<span>Chỉ có 1 trang!</span>
		}
	}
	else
	{
		<h3>Đang cập nhật.</h3>
	}
</div>