@model List<EntityModel.EF.Content>
@{
	var slider = ((List<EntityModel.EF.Content>)ViewBag.SliderNews);
	ViewBag.Title = "Tin tức về khu du lịch";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@section jsFooter
{
	<script>
		$(document).ready(function () {
			var clickEvent = false;
			$('#myCarousel').carousel({
				interval: 4000
			}).on('click', '.list-group li', function () {
				clickEvent = true;
				$('.list-group li').removeClass('active');
				$(this).addClass('active');
			}).on('slid.bs.carousel', function (e) {
				if (!clickEvent) {
					var count = $('.list-group').children().length - 1;
					var current = $('.list-group li.active');
					current.removeClass('active').next().addClass('active');
					var id = parseInt(current.data('slide-to'));
					if (count == id) {
						$('.list-group li').first().addClass('active');
					}
				}
				clickEvent = false;
			});
		});

		$(window).load(function () {
			var boxheight = $('#myCarousel .carousel-inner').innerHeight();
			var itemlength = $('#myCarousel .item').length;
			var triggerheight = Math.round(boxheight / itemlength + 1);
			$('#myCarousel .list-group-item').outerHeight(triggerheight);
		});
	</script>
}
@if (slider != null || slider.Count > 0)
{
	int i = 0, j = 0;
	@section slide
	{
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div id="myCarousel" class="carousel slide" data-ride="carousel">
						<div class="carousel-inner" style="height: 400px">
							@foreach (var item in slider.Take(4))
							{
							<div class="@(i == 0 ? "item active" : "item")">
								<img src="@item.Images" class="img-responsive" style="width: 100%;height: 300px">
								<div class="carousel-caption" style="height: 100px">
									<h4><a href="/tin-tuc/chi-tiet/@item.MetaTitle-@item.ID">@item.Name</a></h4>
									<p>@item.Description</p>
								</div>
							</div>
								i++;
							}
						</div>
						<ul class="list-group col-sm-4" style="height: 100%">
							@foreach (var item in slider.Take(4))
							{
							<li data-target="#myCarousel" data-slide-to="@j" class="list-group-item active" style="height: 25%"><h4>@item.Name</h4></li>
								j++;
							}
						</ul>
						<div class="carousel-controls">
							<a class="left carousel-control" href="#myCarousel" data-slide="prev">
								<span class="glyphicon glyphicon-chevron-left"></span>
							</a>
							<a class="right carousel-control" href="#myCarousel" data-slide="next">
								<span class="glyphicon glyphicon-chevron-right"></span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
	}
}
<div id="tin"></div>
<div class="col-lg-12 baiviet">
	<p>
		<i class="glyphicon glyphicon-home"></i> <a href="/">Giới thiệu</a>/ <a href="/tin-tuc">Tin tức</a>
	</p>
</div>

<div class="col-md-12">
	<div class="container lg">
		<h1>Tin tức về khu du lịch</h1>
	</div>
	<div class="container gach"></div>
	<div class="clearfix"></div>
</div>
<div class="col-md-12 dichvu">

	@if (Model != null || Model.Count > 0)
	{
		foreach (var item in Model)
		{
			<div class="col-md-4  col-xs-12 col-sm-6  idichvu" style="height: 400px">
				<div class="itdichvu">
					<a href="/tin-tuc/chi-tiet/@item.MetaTitle-@item.ID">
						<img src="@item.Images" class="img-responsive">
					</a>
					<a href="/tin-tuc/chi-tiet/@item.MetaTitle-@item.ID" class="thea">
						<h4>@item.Name</h4>
					</a>
					<h5>@item.Description</h5>
					<div class="icondichvu">
						<i class="glyphicon glyphicon-comment"></i>
						<h6 style="">@item.ViewCount</h6>
					</div>
					<div class="icondichvu">
						<i class="glyphicon glyphicon-user"></i>
						<h6>@item.UserName</h6>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>

		}
		<div class="clearfix"></div>
		<div class="col-md-3 col-md-offset-2"></div>
		<!--Phân trang-->
		if (ViewBag.TotalPage > 1)
		{
			var pageDisplay = (int)ViewBag.MaxPage;
			int totalPage = (int)ViewBag.TotalPage;
			int currentPage = ((int)ViewBag.Page);

			// Create numeric links
			var startPageIndex = Math.Max(1, currentPage - pageDisplay / 2);
			var endPageIndex = Math.Min(totalPage, currentPage + pageDisplay / 2);

			var link = "/tin-tuc/";
			<nav>
				<ul class="pagination">
					@if (currentPage > ViewBag.First)
					{
						<li><a href="@link?page=@ViewBag.First#tin" title="Trang đầu" class="first"><i class="fa fa-angle-double-left"></i></a></li>
						<li>
							<a href="@link?page=@ViewBag.Prev#tin" title="Trang trước" class="prev"><i class="fa fa-angle-left"></i></a>
						</li>

					}
					@for (int i = startPageIndex; i <= endPageIndex; i++)
					{
						if (currentPage == i)
						{
							<li> <a href="@link?page=@i#tin" class="active" title="Trang @i">@i</a></li>
						}
						else
						{
							<li><a href="@link?page=@i#tin" title="Trang @i" class="pos">@i</a></li>
						}
					}
					@if (currentPage < totalPage)
					{
						<li><a href="@link?page=@ViewBag.Next#tin" class="next" title="Trang sau"><i class="fa fa-angle-right"></i></a></li>
						<li> <a href="@link?page=@ViewBag.Last#tin" class="last" title="Trang cuối"><i class="fa fa-angle-double-right"></i></a></li>
					}

				</ul>
			</nav>
		}
		else
		{
			<span>Chỉ có 1 trang!</span>
		}
	}
	else
	{
		<h3>Đang cập nhật.</h3>
	}
</div>