@model List<EntityModel.EF.Content>
@{
    ViewBag.Title = "Tin tức về khu du lịch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-12 baiviet">
	<p><i class="glyphicon glyphicon-home"></i> <a href="/">Giới thiệu</a>/ <a href="/tin-tuc">Tin tức</a>
	</p>
</div>
<div class="col-md-12 dichvu">
	@if (Model != null || Model.Count > 0)
	{
		foreach (var item in Model.Where(x=>x.ViewCount > 10))
		{
			<div class="col-md-6 idichvu">
				<div class="itdichvu">
					<a href="/tin-tuc/chi-tiet/@item.MetaTitle-@item.ID">
						<img src="@item.Images" class="img-responsive">
					</a>
					<a href="/tin-tuc/chi-tiet/@item.MetaTitle-@item.ID" class="thea">
						<h4>@item.Name</h4>
					</a>
					<h5>@item.Description</h5>
					<div class="icondichvu">
						<i class="glyphicon glyphicon-comment"></i>
						<h6 style="">@item.ViewCount</h6>
					</div>
					<div class="icondichvu">
						<i class="glyphicon glyphicon-user"></i>
						<h6>@item.UserName</h6>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		}
	}
	else
	{
		<h3>Đang cập nhật</h3>
	}
</div>

<div class="col-md-12 dichvu">
    <h1>Tin tức về khu du lịch</h1>
    @if (Model != null || Model.Count > 0)
    {
        foreach (var item in Model)
        {
            <div class="col-md-4 idichvu">
                <div class="itdichvu">
                    <a href="/tin-tuc/chi-tiet/@item.MetaTitle-@item.ID">
                        <img src="@item.Images" class="img-responsive">
                    </a>
                    <a href="/tin-tuc/chi-tiet/@item.MetaTitle-@item.ID" class="thea">
                        <h4>@item.Name</h4>
                    </a>
                    <h5>@item.Description</h5>
                    <div class="icondichvu">
                        <i class="glyphicon glyphicon-comment"></i>
                        <h6 style="">@item.ViewCount</h6>
                    </div>
                    <div class="icondichvu">
                        <i class="glyphicon glyphicon-user"></i>
                        <h6>@item.UserName</h6>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        }
    }
    else
    {
        <h3>Đang cập nhật</h3>
    }
</div>