@using TLTY.Areas.Admin.Models
@{
	var session = (UserLogin)Session[Constants.USER_SESSION];
	if (session == null)
	{
		Response.Redirect("~/Admin/Login");
	}
}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>@ViewBag.Title</title>
	@Styles.Render("~/Content/Admin/css")
	@Scripts.Render("~/bundles/Admin/modernizr")
</head>
<body class="body-content">
	<div id="wrapper" style="background: #e280fc linear-gradient(55.93deg,#ffbeff 0%,#ddd 100%)">
		@Html.Partial("_Nav")
		<div id="page-wrapper" style="background:rgba(0, 0, 0, 0) linear-gradient(45deg, rgb(0, 244, 255) 0%, rgb(232, 171, 239) 100%) repeat scroll 0% 0%">
			<div class="row">
				<div class="col-lg-12">
					@if (IsSectionDefined("header"))
					{
						@RenderSection("header", required: true)
					}
					else
					{
						<h1 class="page-header">Admin</h1>
					}
				</div>
			</div>
			<div class="row">
				@RenderBody()
			</div>
		</div>
	</div>
	<div id="thongbao" style="display: none">
		<div class="guestwarn">
			<a class="close" onclick="closeBox('thongbao'); return false;" title="Đóng thông báo này"><i class="fa fa-times" style="color: #fff"></i></a>
			<div class="abc"></div>
		</div>
	</div>
	@if (TempData["AlertMessage"] != null)
	{
		<div id="AlertBox" hide>
			<!-- class="alert TempData["AlertType"]"-->
			<div id='closeelement'>
				<a href='javascript:closeelement();' title="Nhấn để tắt thông báo"><i class='fa fa-times'></i></a>
				@Html.Raw(TempData["AlertMessage"])
				<br />
			</div>
		</div>
	}
	<!-- jQuery -->
	@Scripts.Render("~/bundles/Admin/jquery")
	<script src="~/Content/AdminTheme/tool/ckeditor/ckeditor.js"></script>
	<script src="~/Content/AdminTheme/tool/ckfinder/ckfinder.js"></script>
	@Scripts.Render("~/bundles/Admin/bootstrap")

	<script>
		$(document).ready(function () {
			$('#dataTables-example').DataTable({
				responsive: true
			});
		});
	</script>
	<script>
		function closeelement() {
			var div = document.getElementById('closeelement');
			div.style.display = 'none';
		}

		//setTimeout(closeelement, 5000);
		$('#closeelement').delay(9000).slideUp(1500);

		function closeBox() {
			var div = document.getElementById('thongbao');
			div.style.display = 'none';
		}

		setTimeout(closeBox, 9000);
	</script>
	<script>
		setInterval(function () {
			var request = {
				init: function () {
					request.loadrequest();
				},
				loadrequest: function () {
					$.ajax({
						url: '/Admin/Home/RequestMe',
						type: 'GET',
						dataType: 'json',
						success: function (response) {
							var datar = response.data;
							var html = '';
							$('#soluongr').html(' ' + response.count + ' ');
							$.each(datar, function (j, jtem) {
								var d = jtem.CreateDate;
								var re = /-?\d+/;
								var m = re.exec(d);
								var date = new Date(parseInt(m[0]));
								var formattedDate = date.getDate() + "/" + (date.getMonth() + 1) + "/" + date.getFullYear();
								var hours = (date.getHours() < 10) ? "0" + date.getHours() : date.getHours();
								var minutes = (date.getMinutes() < 10) ? "0" + date.getMinutes() : date.getMinutes();
								var formattedTime = hours + ":" + minutes;
								formattedDate = formattedTime + "-" + formattedDate;
								html += '<li><a href="/Admin/Requests/Details/' + jtem.ID + '"  title="Xem chi tiết ' + jtem.Name + '" class="detail-link"><div><i class="fa fa-comment fa-fw"></i>' + jtem.Name + '<span class="pull-right text-muted small">' + formattedDate + '</span></div></a></li>';
							});
							html += '<li class="divider"></li><li><a class="text-center" href="/Admin/Requests"><strong>Xem toàn bộ </strong><i class="fa fa-angle-right"></i></a></li>';
							$('#request').html(html);
						}
					});
				}
			}
			request.init();
		}, 1000);


	</script>

	<script>
		setInterval(function () {
			var feedback = {
				init: function () {
					feedback.loadfeedback();
				},
				loadfeedback: function () {
					$.ajax({
						url: '/Admin/Home/FeedbackMe',
						type: 'GET',
						dataType: 'json',
						success: function (response) {
							var data = response.data;
							var html = '';
							$('#soluongf').html(' ' + response.count + ' ');
							$.each(data, function (i, item) {
								var d = item.CreateDate;
								var re = /-?\d+/;
								var m = re.exec(d);
								var date = new Date(parseInt(m[0]));
								var formattedDate = date.getDate() + "/" + (date.getMonth() + 1) + "/" + date.getFullYear();
								var hours = (date.getHours() < 10) ? "0" + date.getHours() : date.getHours();
								var minutes = (date.getMinutes() < 10) ? "0" + date.getMinutes() : date.getMinutes();
								var formattedTime = hours + ":" + minutes;
								formattedDate = formattedTime + "-" + formattedDate;
								html += '<li><a href="/Admin/Feedbacks/Details/' + item.ID + '"  title="Xem chi tiết ' + item.Name + '" class="detail-link"><div><strong>' + item.Name + '</strong><span class="pull-right text-muted"><em>' + formattedDate + '</em></span></div><div>' + item.Description + '</div></a></li>';
							});
							html += '<li class="divider"></li><li><a class="text-center" href="/Admin/Feedbacks"><strong>Xem toàn bộ </strong><i class="fa fa-angle-right"></i></a></li>';
							$('#feedback').html(html);
						}
					});
				}

			}
			feedback.init();
		}, 1000);

	</script>
	<script>
		$(document).ready(function () {
			$("html").niceScroll();
		});
	</script>
	@RenderSection("scripts", required: false)
</body>
</html>