@{
	if (Session["AccountID"] == null)
	{
		Response.Redirect("~/Admin/Login/Index");
	}
	EntityModel.EF.TLTYDBContext db = new EntityModel.EF.TLTYDBContext();
	ViewBag.FeedbackFalse = db.Feedbacks.Count(x => x.Status == false);
}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>@ViewBag.Title</title>
	@Styles.Render("~/Content/Admin/css")
	@Scripts.Render("~/bundles/Admin/modernizr")
	<link rel="stylesheet" type="text/css" href="~/Content/AdminTheme/vendor/font-awesome/css/font-awesome.min.css" />
	<style>
		td.center {
			margin: 0 auto;
			position: relative;
		}

			td.center img {
				width: 40px;
				height: 40px;
				margin: auto;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				-moz-border-radius: 10px;
				-webkit-border-radius: 10px;
			}

	</style>
</head>
<body id="wrapper" class="body-content">
	<div id="wrapper">
		<!-- Navigation -->
		@Html.Partial("_Nav")
		<div id="page-wrapper">
			<div class="row">
				<div class="col-lg-12">
					@if (IsSectionDefined("header"))
					{
						@RenderSection("header", required: true)
					}
					else
					{
						<h1 class="page-header">Admin</h1>
					}
				</div>
				<!-- /.col-lg-12 -->
			</div>
			@if (TempData["AlertMessage"] != null)
			{
				<div class="col-lg-12" hide>
					<div id="AlertBox" class="alert @TempData["AlertType"]">
						@Html.Raw(TempData["AlertMessage"])
					</div>
				</div>
			}
			<!-- /.row -->
			<div class="row">
				@RenderBody()
				<!-- /.col-lg-12 -->
			</div>
			<!-- /.row -->

		</div>
		<!-- /#page-wrapper -->
	</div>
	<!-- jQuery -->
	@Scripts.Render("~/bundles/Admin/jquery")
	<script src="~/Content/AdminTheme/tool/ckeditor/ckeditor.js"></script>
	<script src="~/Content/AdminTheme/tool/ckfinder/ckfinder.js"></script>
	@Scripts.Render("~/bundles/Admin/bootstrap")
	<script>
		$(document).ready(function () {
			$('#dataTables-example').DataTable({
				responsive: true
			});
		});
	</script>
	<script>
		function setModalMaxHeight(element) {
			this.$element = $(element);
			this.$content = this.$element.find('.modal-content');
			var borderWidth = this.$content.outerHeight() - this.$content.innerHeight();
			var dialogMargin = $(window).width() < 768 ? 20 : 60;
			var contentHeight = $(window).height() - (dialogMargin + borderWidth);
			var headerHeight = this.$element.find('.modal-header').outerHeight() || 0;
			var footerHeight = this.$element.find('.modal-footer').outerHeight() || 0;
			var maxHeight = contentHeight - (headerHeight + footerHeight);

			this.$content.css({
				'overflow': 'hidden'
			});

			this.$element
			  .find('.modal-body').css({
			  	'max-height': maxHeight,
			  	'overflow-y': 'auto'
			  });
		}

		$('.modal').on('show.bs.modal', function () {
			$(this).show();
			setModalMaxHeight(this);
		});

		$(window).resize(function () {
			if ($('.modal.in').length != 0) {
				setModalMaxHeight($('.modal.in'));
			}
		});
	</script>
	<script>
		var body;
		$(document).ready(function () {
			body = document.getElementsByTagName("body")[0];
			$('body').niceScroll({ cursoropacitymax: 0.8, cursorwidth: 8 });
			window.initScroll();
		});
	</script>

	@RenderSection("scripts", required: false)
</body>
</html>