<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="@ViewBag.Keywords" />
	<meta name="description" content="@ViewBag.Descriptions" />
	<title>Thung lũng tình yêu</title>
	<link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")
	<link rel="stylesheet" type="text/css" title="theme1" href="~/Content/ClientTheme/css/theme1/main.css">
	<link rel="alternate stylesheet" type="text/css" title="theme2" href="~/Content/ClientTheme/css/theme2/main.css">
	<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
	<style>
		* {
			font-family: 'Lobster', cursive;
			line-height: 1.65;
		}
	</style>
</head>
<body onload="set_style_from_cookie()">
	@Html.Partial("_header")
	<div class="container-fuid top-slider">
		<div class="container">
			@{ Html.RenderAction("Slider", "Home");}
			<div class="row">
				<div class="clearfix"></div>
				@RenderBody()
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
	<div class="col-lg-12 footer" style="margin-top: 10px;">
		@{ Html.RenderAction("Footer", "Home");}
	</div>
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")

	<script>
		var style_cookie_name = "style";
		var style_cookie_duration = 30;
		var style_domain = "thesitewizard.com";

		function switch_style(css_title) {
			var i, link_tag;
			for (i = 0, link_tag = document.getElementsByTagName("link") ;
			  i < link_tag.length ; i++) {
				if ((link_tag[i].rel.indexOf("stylesheet") != -1) &&
				  link_tag[i].title) {
					link_tag[i].disabled = true;
					if (link_tag[i].title == css_title) {
						link_tag[i].disabled = false;
					}
				}
				set_cookie(style_cookie_name, css_title,
				  style_cookie_duration, style_domain);
			}
		}
		function set_style_from_cookie() {
			var css_title = get_cookie(style_cookie_name);
			if (css_title.length) {
				switch_style(css_title);
			}
		}
		function set_cookie(cookie_name, cookie_value,
			lifespan_in_days, valid_domain) {
			var domain_string = valid_domain ?
							   ("; domain=" + valid_domain) : '';
			document.cookie = cookie_name +
							   "=" + encodeURIComponent(cookie_value) +
							   "; max-age=" + 60 * 60 *
							   24 * lifespan_in_days +
							   "; path=/" + domain_string;
		}
		function get_cookie(cookie_name) {
			var cookie_string = document.cookie;
			if (cookie_string.length != 0) {
				var cookie_value = cookie_string.match(
								'(^|;)[\s]*' +
								cookie_name +
								'=([^;]*)');
				return decodeURIComponent(cookie_value[2]);
			}
			return '';
		}
	</script>
	<script type="text/javascript">
		$('#menu li').click(function () {
			$('#menu li.active').removeClass('active');
			$(this).addClass('active');
		});
	</script>
	<script>
		$('#mySlider').carousel({
			interval: 3500
		});
		$('#mySlider').on('slide.bs.carousel', function (e) {
			var id = $('.item.active').data('slide-number');
			if (e.direction == 'right') {
				id = parseInt(id) - 1;
				if (id == -1) id = 7;
			} else {
				id = parseInt(id) + 1;
				if (id == $('[id^=carousel-thumb-]').length) id = 0;
			}
			$('[id^=carousel-thumb-]').removeClass('selected');
			$('[id=carousel-thumb-' + id + ']').addClass('selected');
		});

		$('[id^=carousel-thumb-]').click(function () {
			var id_selector = $(this).attr("id");
			var id = id_selector.substr(id_selector.length - 1);
			id = parseInt(id);
			$('#mySlider').carousel(id);
			$('[id^=carousel-thumb-]').removeClass('selected');
			$(this).addClass('selected');
		});
	</script>
	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".btn-top").hide();
			if ($(".btn-top").length > 0) {
				$(window).scroll(function () {
					var e = $(window).scrollTop();
					if (e > 300) {
						$(".btn-top").show();
					} else {
						$(".btn-top").hide();
					}
				});
				$(".btn-top").click(function () {
					$('body,html').animate({
						scrollTop: 0
					});
				});
			}
		});
	</script>
	<script>
		$(document).ready(function () {
			$("html").niceScroll();
		});
	</script>
	@RenderSection("scripts", required: false)

</body>
</html>
