@model List<EntityModel.EF.Ticker>
@{
	ViewBag.Title = "Bảng giá khu du lịch";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-12 baiviet">
	<p>
		<i class="glyphicon glyphicon-home"></i> <a href="/">Giới thiệu</a>/ <a href="/bang-gia">Bảng giá</a>
	</p>
</div>
<div class="col-md-12">
	<div class="container lg">
		<h1>Bảng giá khu du lịch</h1>
	</div>
	<div class="container gach"></div>
	<div class="clearfix"></div>
</div>
<div class="col-md-12 baiviet">
	<div class="col-md-8 col-md-offset-2">
		<img src="~/Content/ClientTheme/image/1.png" class="img-responsive">
	</div>
	@if (Model != null || Model.Count > 0)
	{
		<div class="col-md-8 col-md-offset-2 binhluan">
			<ol>
				@foreach (var item in Model)
				{
					<li style="font-size: 24px">
						<h3>
							<i class="fa fa-users" style="color: red"></i> @item.Name - <i class="fa fa-calendar" style="color: red"></i> @string.Format("{0:dd/MM/yyyy}", @item.CreateDate)
						</h3>
						<div style="margin-left: 50px">
							<i class="fa fa-user" style="color: red"></i> @(item.Type ? "Người lớn" : "Trẻ em") - <i class="fa fa-caret-right" style="color: red"></i> @item.Quantity người - <i class="fa fa-money" style="color: red"></i> @item.Price.ToString("N0") VNĐ
							<p>
								<i class="fa fa-sticky-note" style="color: red"></i> @item.Description
							</p>
						</div>
					</li>
				}
			</ol>
			<div class="col-md-6">
				<h1>Xin cảm ơn sự ủng hộ của quý khách!!!</h1>
			</div>
			<div class="col-md-6">
				<h4>Mọi ý kiến thắc mắc xin vui lòng liên hệ:</h4>
				<h3>CÔNG TY CỔ PHẦN DU LỊCH THÀNH THÀNH CÔNG LÂM ĐỒNG</h3>
				<h3>CHI NHÁNH TÌNH YÊU MỘNG MƠ</h3>
				<h4>A. Số 5 - 7 Mai Anh Đào, Phường 8, Tp. Đà Lạt, Lâm Đồng</h4>
				<h4>T. (+84) 63 3821 448 | F. (+84) 63 3552 774</h4>
				<h4>E. info@tinhyeumongmo.vn</h4>
				<h4>W. www.tinhyeumongmo.vn</h4>
			</div>
		</div>
	}
	else
	{
		<h3>Đang cập nhật</h3>
	}

	<div class="clearfix"></div>
</div>
<div class="clearfix"></div>

