@model List<EntityModel.EF.Ticker>
@{
	ViewBag.Title = "Bảng giá khu du lịch";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-lg-12 baiviet">
	<p><i class="glyphicon glyphicon-home"></i> <a href="/">Giới thiệu</a>/ <a href="/bang-gia">Bảng giá</a></p>
</div>
<div class="col-md-12 baiviet">
	@if (Model != null || Model.Count > 0)
	{
		<div class="col-md-8 col-md-offset-2 chitiet" style="background: #521a61 linear-gradient(55.93deg, azure 0%, aquamarine 100%); color: #521a61">
			<h1>Bảng giá các dịch vụ trong khu du lịch</h1>
			<img src="~/Content/ClientTheme/image/1.png" class="img-responsive">
			<ol>
				@foreach (var item in Model)
				{
					<li style="font-size: 24px">
						<h3>
							<i class="fa fa-users" style="color: red"></i> @item.Name - <i class="fa fa-calendar" style="color: red"></i> @string.Format("{0:dd/MM/yyyy}", @item.CreateDate)
						</h3>
						<div style="margin-left: 50px">
							<i class="fa fa-user" style="color: red"></i> @(item.Type ? "Người lớn" : "Trẻ em") - <i class="fa fa-caret-right" style="color: red"></i> @item.Quantity người - <i class="fa fa-money" style="color: red"></i> @item.Price.ToString("N0") VNĐ
							<p>
								<i class="fa fa-sticky-note" style="color: red"></i> @item.Description
							</p>
						</div>
						
					</li>
				}
				
			</ol>

			<h1>Xin cám ơn sự ủng hộ của quý khách!!!</h1>
		</div>
	}
	else
	{
		<h3>Đang cập nhật</h3>
	}
	
	<div class="clearfix"></div>
</div>
<div class="clearfix"></div>

