@model EntityModel.EF.Contact

@{
    ViewBag.Title = "Xem chi tiết liên hệ" + @Model.ID;
    Layout = null;// "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="modal fade" id="detailModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body" style="max-height: 550px;overflow-y: auto;">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span>
					<span class="sr-only">Close</span>
				</button>
				<h3 style="text-align: center">Xem chi tiết liên hệ @Model.ID</h3>
				<img src="~/Content/ClientTheme/image/1.png" class="img-responsive" />
	            <dl class="dl-horizontal">
		            <dt>
			            Địa chỉ:
		            </dt>
		            <dd>
			            @Html.DisplayFor(model => model.Address)
		            </dd>
		            <dt>
			            Số điện thoại:
		            </dt>
		            <dd>
			            @Html.DisplayFor(model => model.Phone)
		            </dd>
		            <dt>
			            Email:
		            </dt>
		            <dd>
			            @Html.DisplayFor(model => model.Email)
		            </dd>
		            <dt>
			            Ngày tạo:
		            </dt>
		            <dd>
			            @string.Format("{0:dd-MM-yyyy}", Model.CreateDate) - Tạo bởi: @Html.DisplayFor(model => model.UserName)
		            </dd>
	            </dl>
	            <hr/>
				<div class="form-actions no-color text-center">
					<a href="@Url.Action("Edit", new { @id = Model.ID })" title="Sửa liên hệ @Model.ID" class="edit-link btn btn-warning"><i class="fa fa-edit"></i> Chỉnh sửa</a>
					<button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> Đóng</button>
				</div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<script src="~/Content/AdminTheme/js/edit-modal.js"></script>

