@model EntityModel.EF.Contact

@{
    ViewBag.Title = "Xem chi tiết liên hệ" + @Model.ID;
    Layout = null;// "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="modal fade" id="detailModal">
    <div class="modal-dialog modal-lg" style="overflow-y: initial !important;overflow-y: scroll; max-height:85%;  margin-top: 50px; margin-bottom:50px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">Xem chi tiết liên hệ @Model.ID</h4>
            </div>
            <div class="modal-body" style="max-height: 300px;overflow-y: auto;">
				<dl class="dl-horizontal">
					
					<dt>
						Địa chỉ:
					</dt>
					<dd>
						@Html.DisplayFor(model => model.Address)
					</dd>
					<dt>
						Số điện thoại:
					</dt>
					<dd>
						@Html.DisplayFor(model => model.Phone)
					</dd>
					<dt>
						Email:
					</dt>
					<dd>
						@Html.DisplayFor(model => model.Email)
					</dd>
					<dt>
						Ngày tạo:
					</dt>
					<dd>
						@string.Format("{0:dd-MM-yyyy}", Model.CreateDate) - Tạo bởi: @Html.DisplayFor(model => model.UserName)
					</dd>
				</dl>
                <div class="clearfix"></div>
            </div>
            <div class="modal-footer">
                <div class="form-actions no-color text-center">
                    <a href="@Url.Action("Edit", new { @id = Model.ID })" title="Sửa liên hệ @Model.ID" class="edit-link"><button class="btn btn-warning">Chỉnh sửa</button></a>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Content/AdminTheme/js/edit-modal.js"></script>

