@model EntityModel.EF.Ticker

@{
    ViewBag.Title = "Chỉnh sửa bảng giá" + @Model.Name;
    Layout = null;// "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="modal fade" id="editModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            @using (Html.BeginForm())
            {
	            <div class="modal-body" style="max-height: 550px; overflow-y: auto">
		            <button type="button" class="close" data-dismiss="modal">
			            <span aria-hidden="true">&times;</span>
			            <span class="sr-only">Close</span>
		            </button>
					<h3 style="text-align: center">Chỉnh sửa bảng giá @Model.Name</h3>
					<img src="~/Content/ClientTheme/image/1.png" class="img-responsive" />
		            @Html.AntiForgeryToken()
		            <div class="form-horizontal">
			            @Html.ValidationSummary(true, "", new {@class = "text-danger"})
			            @Html.HiddenFor(model => model.ID)
			            @Html.HiddenFor(model => model.UserName)
			            @Html.HiddenFor(model => model.Status)
			            @Html.HiddenFor(model => model.CreateDate)
			            <div class="form-group">
				            <label class="control-label col-md-3">Tên:</label>
				            <div class="col-md-9">
					            @Html.TextBoxFor(model => model.Name, new { @class = "form-control", placeholder = "Nhập tên ở đây. Không quá 250 ký tự.", max="250" })
					            @Html.ValidationMessageFor(model => model.Name, "", new {@class = "text-danger"})
				            </div>
			            </div>
						<div class="form-group">
							<label class="control-label col-md-3">Loại:</label>
							<div class="col-md-9">
								<select class="form-control" name="Type">
									<option value="true">Người lớn</option>
									<option value="false">Trẻ em</option>
								</select>
							</div>
						</div>
			            <div class="form-group">
				            <label class="control-label col-md-3">Số lượng:</label>
				            <div class="col-md-3">
					            @Html.TextBoxFor(model => model.Quantity, new {@class = "form-control", type = "number", placeholder = "Nhập số lượng ở đây"})
					            @Html.ValidationMessageFor(model => model.Quantity, "", new {@class = "text-danger"})
				            </div>
				            <label class="control-label col-md-3">Giá:</label>
				            <div class="col-md-3">
					            @Html.TextBoxFor(model => model.Price, new {@class = "form-control", type = "number", placeholder = "Nhập giá ở đây"})
					            @Html.ValidationMessageFor(model => model.Price, "", new {@class = "text-danger"})
				            </div>
			            </div>
			            <div class="form-group">
				            <label class="control-label col-md-3">Mô tả:</label>
				            <div class="col-md-9">
					            @Html.TextAreaFor(model => model.Description, new { @class = "form-control", placeholder = "Nhập mô tả ở đây. Không quá 250 ký tự.", max="250" })
					            @Html.ValidationMessageFor(model => model.Description, "", new {@class = "text-danger"})
				            </div>
			            </div>
			            <div class="form-group">
				            <hr/>
				            <div class="form-actions no-color text-center">
								<button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Thay đổi</button>
								<button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> Đóng</button>
				            </div>
			            </div>
		            </div>
		            <div class="clearfix"></div>
	            </div>
            }
        </div>
    </div>
</div>

