@model List<EntityModel.EF.Content>
@{
    ViewBag.Title = "Dịch vụ - Thung lũng tình yêu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section header
{
	<header>
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-xs12 col-sm-12">
					<div class="nav">
						<nav class="navbar navbar-default navbar-fixed-top">
							<div class="container header-top">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
										<span class="sr-only">Toggle navigation</span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
									</button>
									<a href="/" title="Thung lũng tình yêu">
										<img src="~/DATA/images/Logo/logo.png" alt="logo" width="90" height="60" class="img-responsive">
									</a>
								</div>
								<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
									<ul class="nav navbar-nav navbar-right" id="menu">
										<li><a href="/" title="Trang giới thiệu">Giới thiệu</a></li>
										<li class="active"><a href="/dich-vu" title="Trang dịch vụ">Dịch vụ</a></li>
										<li><a href="/tin-tuc" title="Trang tin tức">Tin tức</a></li>
										<li><a href="/bang-gia" title="Trang bảng giá">Bảng giá</a></li>
										<li><a href="/lien-he" title="Trang liên hệ">Liên hệ</a></li>
										<li>
											<a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Nhấn để thay đổi giao diện"><i class="glyphicon glyphicon-cog"></i></a>
											<ul class="dropdown-menu">
												<li><a href="#theme" onclick="switch_style('theme1'); return false;" id="them1" title="Tinh khôi">Cây cỏ</a></li>
												<li><a href="#theme" onclick="switch_style('theme2'); return false;" id="them2" title="Huyền ảo">Đất trời</a></li>
											</ul>
										</li>
									</ul>
								</div>
							</div>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</header>
}
<div class="col-lg-12 baiviet">
	<p><i class="glyphicon glyphicon-home"></i> <a href="/">Giới thiệu</a>/ <a href="/dich-vu">Dịch vụ</a>
	</p>
</div>
<div class="col-md-12">
    <div class="container lg">
        <h1>Dịch vụ của khu du lịch</h1>
    </div>
    <div class="container gach"></div>
    <div class="clearfix"></div>
</div>
<div class="col-md-12 dichvu">
	@if (Model != null || Model.Count > 0)
	{
		foreach (var item in Model)
		{
			<div class="col-md-4  col-xs-12 col-sm-6  idichvu" style="height: 400px">
				<div class="itdichvu">
					<a href="/dich-vu/chi-tiet/@item.MetaTitle-@item.ID" title="Xem chi tiết @item.Name">
						<img src="@item.Images" class="img-responsive" alt="@item.Name">
					</a>
					<a href="/dich-vu/chi-tiet/@item.MetaTitle-@item.ID" class="thea" title="Xem chi tiết @item.Name">
						<h4>@item.Name</h4>
					</a>
					<h5>@item.Description</h5>
					<div class="icondichvu">
						<i class="glyphicon glyphicon-comment"></i>
						<h6 style=""> @item.ViewCount</h6>
					</div>
					<div class="icondichvu">
						<i class="glyphicon glyphicon-user"></i>
						<h6> @item.UserName</h6>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		}
	}
	else
	{
		<h3>Đang cập nhật</h3>
	}
</div>