@model List<EntityModel.EF.Content>
@{
    ViewBag.Title = "Dịch vụ của khu du lịch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-12 baiviet">
	<p><i class="glyphicon glyphicon-home"></i> <a href="/">Giới thiệu</a>/ <a href="/dich-vu">Dịch vụ</a>
	</p>
</div>
<div class="col-md-12">
    <div class="container lg">
        <h1>Dịch vụ của khu du lịch</h1>
    </div>
    <div class="container gach"></div>
    <div class="clearfix"></div>
</div>
<div class="col-md-12 dichvu">
	@if (Model != null || Model.Count > 0)
	{
		foreach (var item in Model)
		{
			<div class="col-md-4  col-xs-12 col-sm-6  idichvu" style="height: 400px">
				<div class="itdichvu">
					<a href="/dich-vu/chi-tiet/@item.MetaTitle-@item.ID">
						<img src="@item.Images" class="img-responsive">
					</a>
					<a href="/dich-vu/chi-tiet/@item.MetaTitle-@item.ID" class="thea">
						<h4>@item.Name</h4>
					</a>
					<h5>@item.Description</h5>
					<div class="icondichvu">
						<i class="glyphicon glyphicon-comment"></i>
						<h6 style=""> @item.ViewCount</h6>
					</div>
					<div class="icondichvu">
						<i class="glyphicon glyphicon-user"></i>
						<h6> @item.UserName</h6>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		}
	}
	else
	{
		<h3>Đang cập nhật</h3>
	}
</div>